{% comment %} このファイルを直接編集することはできません。 {% endcomment %}
<!-- カレンダー表示 -->
<div class="app-deliverydate app-deliverydate--date">
  <label for="delivery_date_input" class="delivery_date">配送希望日を選択</label>
  <input  type="hidden" name="attributes[delivery_date]" value="" id="delivery_date_input">
  <div class="calendar__button">
    <button type="button" id="prev" class="calendar__button--prev">前の月</button>
    <button type="button" id="next" class="calendar__button--next">次の月</button>
  </div>
  <div id="calendar" class="app-deliverydate__calendar" translate="no"></div>
</div>
