/* ========================================
  Clear Fix Mixin
  Note: Check out a breakpoints file if you want to modify breakpoints.
  ex: @include clear-fix.clear-fix();
======================================== */

@mixin clear-fix() {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
